{% extends "base.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Register a complaint
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/student/complaint"><i class="fa fa-pencil-square-o"></i> Register a Complaint</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="box box-warning">

          <div class="box-body">
            <form role="form" action="/register-complaint" method="post">
              <!-- text input -->
              <div class="form-group">
                <label>Select Catergory </label>
                <select name="complaint_type" class="form-control">

                        <option value="campus" >Campus Infrastructure</option>
                        {% if user.hostelite == "yes" %}
                        <option value="hostel" >Hostel Infrastructure</option>
                        {% endif %}
                </select>
              </div>


              <!-- textarea -->
              <div class="form-group">
                <label>Complaint </label>
                <textarea name="complaint_details" class="form-control" rows="6" placeholder="Enter complaint details"></textarea>
              </div>
              <button class="btn btn-block btn-success">Submit</button>



            </form>
          </div><!-- /.box-body -->
        </div>



  </section>




</div><!-- /.content-wrapper -->


{% endblock %}
