{% extends "base.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Profile
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/student/profile"><i class="fa fa-user"></i> Profile</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-md-12">


        <div class="tab-content">
          <div class="tab-pane active" id="tab_1" style="padding-bottom:30px">
            <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-weight:bold;">Profile </h3>
                </div>
                <div class="box-body">
                   <div class="col-md-offset-1 col-md-5" style="font-size:1.1em;">
                     <p style="line-height:2;"><b>Name:</b> <span  style="padding-left:10px"> {{ user.name }} </span></p>
                     <p><b>USN:</b> <span style="padding-left:10px"> {{ user.usn }} </span></p>
                     <p><b>Email:</b> <span style="padding-left:10px"> {{ user.email }} </span></p>
                     <p><b>Phone: </b> <span style="padding-left:10px"> {{ user.phone}} </span></p>
                     <p><b>Course: </b> <span style="padding-left:10px"> {{ user.course }} </span></p>
                     <p><b>Semester: </b> <span style="padding-left:10px"> {{ user.semester }} </span></p>
                     <p><b>Section: </b> <span style="padding-left:10px"> {{ user.section }} </span></p>
                     {% if user.hostelite == "yes" %}
                     <p><b>Hostelite:</b> <span style="padding-left:10px"> {{ user.hostelite }} </span></p>
                     <p><b>Block:</b> <span style="padding-left:10px"> {{ user.block }} </span></p>
                     <p><b>Room No:</b> <span style="padding-left:10px"> {{ user.room }} </span></p>
                     {% endif %}
                   </div>

                </div>
            </div>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->


      </div>


    </div>



  </section>




</div><!-- /.content-wrapper -->

{% endblock %}
