.college-name {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2em;
}

.instructions-text {
  font-size: 1.2em;
}

.instructions-text1 {
  font-size: 1.4em;
}


.college-name1 {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.heading1 {
  color: #FFFFFF;
  font-size: 1.4em;
}

.body-background {
  background-color: #FDF6F7;
}

.hostel-radio {
  margin-left: 30px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
