<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> BMSIT | COMPLAINT-CMS HOME </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE.css') }}">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
  page. However, you can choose any other skin. Make sure you
  apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="{{ url_for('static', filename='skin-blue.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="body-background hold-transition skin-blue sidebar-mini">


  <header class="main-header">

    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CMS</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Complaint-CMS</b></span>
    </a>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <a href="https://bmsit.ac.in" class="college-name1 pull-right">BMS Institute of Technology</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
  <div class="row">
    <p>

        <br><br> <!-- Extra space for displaying status messages -->
    </p>
  </div>

  <div class="row">


    <div class="col-md-12">
      <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Admin Register Form</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/register-admin" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputusername" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-5">
                        <input name="admin_username" class="form-control" required="" id="inputusername" placeholder="Enter Email" type="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputname" class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-5">
                        <input name="admin_name" class="form-control"  required="" id="inputname" placeholder="Enter Name" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputdesgn" class="col-sm-2 control-label">Designation</label>
                      <div class="col-sm-5">
                        <input name="admin_designation" class="form-control" required="" id="inputdesgn" placeholder="Enter Designation" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputpassword" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-5">
                        <input name="admin_password" class="form-control" required="" id="inputpassword" placeholder="Password" type="password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputmasterpassword" class="col-sm-2 control-label">Admin Password</label>
                      <div class="col-sm-5">
                        <input name="master_password" class="form-control" required="" id="inputmasterpassword" placeholder="Master Password" type="password">
                      </div>
                    </div>
                    <div class="form-group" id="admin-level">
                      <div class="col-sm-offset-2 col-sm-5">
                        <select name="admin_level" class="form-control">

                          <option value="1">Administrator</option>
                          <option value="2">Campus Authority</option>
                          <option value="3">Hostel Authority</option>
                        </select>
                      </div>
                    </div>


                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                      </div>
                    </div> -->
                  </div><!-- /.box-body -->
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right">Register</button>
                  </div><!-- /.box-footer -->
                </form>
              </div>


    </div>

  </div>
  <footer style="padding-top:45px;padding-left:20px;">
    <!-- To the right -->

    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="https://bmsit.ac.in">BMSIT</a>.</strong> Developed by Sundar Raman G.
  </footer>



<!-- jQuery 2.1.4 -->
<script src="{{ url_for('static', filename='jQuery-2.1.4.min.js') }}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='app.min.js') }}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. Slimscroll is required when using the
fixed layout. -->
</body>
</html>
