<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> BMSIT | COMPLAINT-CMS HOME </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE.css') }}">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
  page. However, you can choose any other skin. Make sure you
  apply the skin class to the body tag so the changes take effect.
-->
<link rel="stylesheet" href="{{ url_for('static', filename='skin-blue.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="body-background hold-transition skin-blue sidebar-mini">


  <header class="main-header">

    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>CMS</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Complaint-CMS</b></span>
    </a>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <a href="https://bmsit.ac.in" class="college-name1 pull-right">BMS Institute of Technology</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
  <div class="row">
    <p>
        {% if message  %}
          {% if status == "red" %}
        <div class="col-md-offset-4 col-md-4">
          <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> {{heading}}</h4>
                    {{message}}
          </div>
        </div>
          {% elif status == "green" %}
        <div class="col-md-offset-4 col-md-4">
          <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> {{heading}}</h4>
                    {{message}}
          </div>
        </div>
          {% endif %}
        {% endif %}
        <br><br> <!-- Extra space for displaying status messages -->
    </p>
  </div>

  <div class="row">
        <div class="col-md-offset-1 col-md-5">
      <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Register Form</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/register" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail" required class="col-sm-2 control-label">USN</label>
                      <div class="col-sm-10">
                        <input name="student_usn" class="form-control" id="inputusn" placeholder="Enter USN" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input name="student_name" class="form-control" required  id="inputname" placeholder="Enter Name" type="text">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputCourse" class="col-sm-2 control-label">Course</label>
                      <div class="col-sm-10">
                        <select name="student_course" required  id="inputcourse" class="form-control">
                          <option value="B.E Computer Science">B.E Computer Science & Engineering</option>
                          <option value="B.E Mechanical">B.E Mechanical Engineering</option>
                          <option value="B.E Electronics">B.E Electronics & Communication Engineering</option>
                          <option value="B.E Electrical">B.E Electrical & Electronics Engineering</option>
                          <option value="B.E Information Science">B.E Information Science & Engineering</option>
                          <option value="B.E Telecommunication">B.E Telecommunication & Engineering</option>
                          <option value="B.E Civil">B.E Civil Engineering</option>
                          <option value="M.Tech Computer Science">M.Tech Computer Science & Engineering</option>
                          <option value="M.Tech Machine Design">M.Tech Machine Design</option>
                          <option value="Master Of Computer Applications">Master Of Computer Applications</option>
                        </select>
                      </div>
                    </div>


                    <div class="form-group">
                      <label for="inputSemester" class="col-sm-2 control-label">Semester</label>
                      <div class="col-sm-10">
                        <select name="student_semester" required  class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputsection" class="col-sm-2 control-label">Section</label>
                      <div class="col-sm-10">
                        <select required  name="student_section" class="form-control">
                          <option value="A">A</option>
                          <option value="B">B</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <input name="student_email" class="form-control" required  id="inputemail" placeholder="Enter Email" type="email">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail3" required  class="col-sm-2 control-label">Phone</label>
                      <div class="col-sm-10">
                        <input required  name="student_phone" class="form-control" id="inputphone" placeholder="Enter Phone" type="phone">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputhostel" class="col-sm-2 control-label" style="margin-right:20px;">Hostelite</label>
                      <div class="radio">
                        <label style="padding-left:20px;">
                          <input name="student_bool_hostel" onclick="javascript:yesnoCheck();" id="yesChecked" value="yes"  type="radio">
                          Yes
                        </label>
                        <label>
                          <input name="student_bool_hostel" onclick="javascript:yesnoCheck();" id="noChecked" checked="" value="no" type="radio">
                          No
                        </label>
                      </div>
                  </div>
                  <div class="form-group" id="block-name">
                    <div class="col-sm-offset-2 col-sm-10">
                      <select name="student_hostel_block" class="form-control">
                        <option value="none">None</option>
                        <option value="Block A">Block A</option>
                        <option value="Block B">Block B</option>
                        <option value="Block C">Block C</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group " id="room-no">
                    <label for="inputroom" class="col-sm-2 control-label">Room No.</label>
                    <div class="col-sm-10">
                      <input name="student_room_number" class="form-control" id="inputroom" placeholder="Enter Room number" type="text">
                    </div>
                  </div>

                    <div class="form-group">
                      <label for="inputPassword3" required class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input required  name="student_password_1" class="form-control" id="inputPassword1" placeholder="Enter Password" type="password">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" required class="col-sm-2 control-label">Re-enter Password</label>
                      <div class="col-sm-10">
                        <input required  name="student_password_2" class="form-control" id="inputPassword2" placeholder="Enter Password" type="password">
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                      </div>
                    </div> -->
                  </div><!-- /.box-body -->
                  <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right">Register</button>
                  </div><!-- /.box-footer -->
                </form>
              </div>

    </div>

    <div class="col-md-5">
      <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Student Login Form</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/student/login" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputusn" class="col-sm-2 control-label">USN</label>
                      <div class="col-sm-10">
                        <input name="student_usn" class="form-control" id="inputusn" placeholder="Enter USN" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input name="student_password" class="form-control" id="inputPassword3" placeholder="Password" type="password">
                      </div>
                    </div>
                    <div class="checkbox col-md-offset-2 col-md-4">
                      <label>
                        <input value="remember" name="remember" type="checkbox"> Remember me
                      </label>
                    </div>
                    <div class="col-md-6">
                      <a class="pull-right" href="/student/forgot-password">Forgot your password?</a>
                    </div>
                    <!-- <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                      </div>
                    </div> -->
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <a href="/activate" class="pull-lef">Activate account</a>
                    <button type="submit" class="btn btn-info pull-right">Sign in</button>
                  </div><!-- /.box-footer -->
                </form>
              </div>

              <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Admin Login Form</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="/admin/login" method="post">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                              <div class="col-sm-10">
                                <input class="form-control" name="admin_username" id="inputusn" placeholder="Enter email" type="email">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                              <div class="col-sm-10">
                                <input class="form-control" name="admin_password" id="inputPassword3" placeholder="Password" type="password">
                              </div>
                            </div>
                            <div class="checkbox col-md-offset-2 col-md-4">
                              <label>
                                <input value="remember" name="remember" type="checkbox"> Remember me
                              </label>
                              <a href="/admin/register">Register an admin</a>
                            </div>
                            <div class="col-md-6">
                              <a class="pull-right" href="/admin/forgot-password">Forgot your password?</a>
                            </div>
                            <!-- <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox"> Remember me
                                  </label>
                                </div>
                              </div>
                            </div> -->
                          </div><!-- /.box-body -->

                          <div class="box-footer">

                            <button type="submit" class="btn btn-info pull-right">Sign in</button>
                          </div><!-- /.box-footer -->
                        </form>



                      </div>
    </div>

  </div>
  <footer style="padding-top:45px;padding-left:20px;">
    <!-- To the right -->

    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="https://bmsit.ac.in">BMSIT</a>.</strong> Developed by Sundar Raman G.
  </footer>


<!-- REQUIRED JS SCRIPTS -->
<script type="text/javascript">
window.onload = function() {
 document.getElementById('block-name').style.display = 'none';
 document.getElementById('room-no').style.display = 'none';
}
function yesnoCheck() {
   if (document.getElementById('yesChecked').checked) {
       document.getElementById('block-name').style.display = 'block';
       document.getElementById('room-no').style.display = 'block';


   }
   else if(document.getElementById('noChecked').checked) {
     document.getElementById('block-name').style.display = 'none';
     document.getElementById('room-no').style.display = 'none';
  }
}
function yesnoCheck1() {
  if(document.getElementById('redhat').checked) {
      document.getElementById('redhat1').style.display = 'block';
      document.getElementById('aix1').style.display = 'none';
   }
  if(document.getElementById('aix').checked) {
      document.getElementById('aix1').style.display = 'block';
      document.getElementById('redhat1').style.display = 'none';
   }
}
</script>
<!-- jQuery 2.1.4 -->
<script src="{{ url_for('static', filename='jQuery-2.1.4.min.js') }}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='app.min.js') }}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. Slimscroll is required when using the
fixed layout. -->
</body>
</html>
