{% extends "base-admin.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Profile
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin/profile"><i class="fa fa-user"></i> Profile</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-md-12">


        <div class="tab-content">
          <div class="tab-pane active" id="tab_1" style="padding-bottom:30px">
            <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title" style="font-weight:bold;">Profile </h3>
                </div>
                <div class="box-body">
                   <div class="col-md-offset-1 col-md-5" style="font-size:1.1em;">
                     <p style="line-height:2;"><b>Name:</b> <span  style="padding-left:10px"> {{ admin.name }} </span></p>
                     <p><b>Email:</b> <span style="padding-left:10px"> {{ admin.username }} </span></p>
                     <p><b>Designation:</b> <span style="padding-left:10px"> {{ admin.designation }} </span></p>
                     <p><b>Account Type:</b>
                       <span style="padding-left:10px">
                         {% if admin.admin_level == 1 %}
                            Administrator ( Campus and Hostel)
                          {% elif admin.admin_level == 2 %}
                            Campus Authority
                          {% elif admin.admin_level == 3 %}
                            Hostel Authority
                          {% endif %}
                       </span></p>

                   </div>

                </div>
            </div>
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->


      </div>


    </div>



  </section>




</div><!-- /.content-wrapper -->
{% endblock %}
