{% extends "base-admin.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Complaint Action
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/action/{{ complaint.id  }}"><i class="fa fa-dashboard"></i> Complaint Action</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title"><b>Resolve a complaint</b></h3>
              </div>
              <div class="instructions-text box-body text-justify ">
                <b>Complaint ID:</b> {{ complaint.id  }} <br>

                <b>Complaint:</b> <p>  {{ complaint.body  }}</p>
                <b>Complaint Type:</b> {{ complaint.type  }} <br>
                <b>Date:</b> {{ complaint.creationdate  }} <br>
                <b>Complainer:</b> {{ user.name  }} <br>
                <b>USN:</b> {{ user.usn  }} <br>
                <b>Course:</b> {{ user.course  }} <br>
                <b>Semester:</b> {{ user.semester  }} <br>
                <b>Phone Number:</b> {{ user.phone  }} <br>
                <b>Email: </b>  {{ user.email  }} <br>
                {% if user.hostelite  == "yes" %}
                <b>Hostelite: </b>  {{ user.hostelite  }} <br>
                <b>Block: </b>  {{ user.block  }} <br>
                <b>Room: </b>  {{ user.room  }} <br>
                {% endif %}
                <br>
                <br>
                <form role="form" action="/complaint-action" method="post">
                  <!-- text input -->

                  <div class="form-group">
                        <label>Status</label>
                        <div class="radio">
                          <label>
                            <input name="complaint_status" id="optionsRadios1" value="pending" checked="" type="radio">
                            Pending
                          </label>

                          <label>
                            <input name="complaint_status" id="optionsRadios2" value="resolved" type="radio">
                            Resolved
                          </label>

                          <label>
                            <input name="complaint_status" id="optionsRadios3" value="denied" type="radio">
                            Denied
                          </label>
                        </div>
                      </div>
                  <!-- Subject -->


                  <!-- textarea -->
                  <div class="form-group">
                    <label>Comment </label>
                    <textarea name="complaint_comment" class="form-control" rows="6" placeholder="Enter complaint comment"></textarea>
                  </div>

                  <div class="form-group hidden">
                    <label>Complaint ID </label>
                    <input class="form-control" name="complaint_id" id="complaint_id" value="{{ complaint.id  }}"></input>
                  </div>

                  <div class="form-group hidden">
                    <label>Resolver Username </label>
                    <input class="form-control" name="complaint_resolver" id="complaint_resolver" value="{{ session.username  }}"></input>
                  </div>


                  <button type="submit" class="btn btn-block btn-success">Submit</button>



                </form>
              </div><!-- /.box-body -->
            </div>
      </div>
    </div>

  </section>




</div><!-- /.content-wrapper -->
{% endblock %}
