{% extends "base-admin.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Complaint Details
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/complaint/{{ complaint['id'] }}"><i class="fa fa-list-alt"></i> Complaint Details</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title"><b>Complaint Details</b></h3>
              </div>
              <div class="instructions-text1 box-body text-justify ">
                <b>Complaint ID:</b> {{ complaint.id }} <br>
                <b>Complaint:</b> <p>{{ complaint.body }}</p>
                <b>Complaint Type:</b> {{ complaint.type }} <br>
                <b>Date:</b> {{ complaint.creationdate }} <br>
                <b>Complainer:</b> {{ user.name }} <br>
                <b>USN:</b> {{ user.usn }} <br>

                <b>Phone Number:</b> {{ user.phone }} <br>
                <b>Email: </b>  {{ user.email }} <br>
                {% if user.hostelite == "yes" %}
                <b>Hostel Block:</b> {{ user.block }} <br>
                <b>Hostel Room Number: </b>  {{ user.room }} <br>
                {% endif %}
                <b>Status: </b>
                {% if complaint.status == "resolved" %}
                <span class="label label-success">Resolved</span>
                <br>
                <b>Resolved by: </b> {{ resolver.name }} - {{ resolver.designation }}<br>
                <b>Date Resolved:</b> {{ complaint.resolvedate }} <br>
                <b>Comment: </b> <p> {{ complaint.comments }}
                {% elif complaint.status == "pending" %}
                <span class="label label-warning">Pending</span>
                {% elif complaint.status == "denied" %}
                <span class="label label-danger">Denied</span>
                <br>
                <b>Denied by: </b> {{ resolver.name }} - {{ resolver.designation }} <br>
                <b>Date denied:</b> {{ complaint.resolvedate }} <br>
                <b>Comment: </b> <p> {{ complaint.comments }}
                {% endif %}
                  </p>

                
              </div><!-- /.box-body -->
            </div>
      </div>
    </div>
  </section>
</div><!-- /.content-wrapper -->
{% endblock %}
