{% extends "base-admin.html" %}
{% block content %}<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title"><b>Instructions</b></h3>
              </div>
              <div class="instructions-text box-body text-justify ">
                Welcome to Complaint Booking System
                <ul>
                  <li>Instruction 1</li>
                  <li>Instruction 2</li>
                  <li>Instruction 1</li>
                  <li>Instruction 2</li>
                  <li>Instruction 1</li>
                  <li>Instruction 2</li>
                  <li>Instruction 1</li>
                  <li>Instruction 2</li>
                  <li>Instruction 1</li>
                  <li>Instruction 2</li>
                </ul>
              </div><!-- /.box-body -->
            </div>
      </div>
    </div>

  </section>




</div><!-- /.content-wrapper -->
{% endblock %}
