{% extends "base-admin.html" %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      View Complaints
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/complaints/{{ status }}"><i class="fa fa-list-alt"></i> View {{ status }} Complaints</a></li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->

        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">List of Complaints</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <!-- <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text"> -->
                      <!-- <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div> -->
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <div class="text-center">
                  {% if complaints.has_prev %}
                    <a href="/complaints/{{ status }}/{{ complaints.prev_num }}">&lt; &lt; Newer Complaints </a>
                  {% else %}
                    &lt;&lt; Newer Complaints
                  {% endif %} |
                {% if complaints.has_next %}
                  <a href="/complaints/{{ status }}/{{ complaints.next_num }}">Older Complaints &gt;&gt;</a>
                {% else %}
                  Older Complaints &gt;&gt;
                {% endif %}
              </div>
                  <table class="table table-hover">
                    <tbody><tr>
                      <th>Complaint ID</th>

                      <th>Complaint</th>
                      <th>Type</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    {% for c in complaints.items %}
                    <tr>
                      <td><a href="/complaint/{{ c.id }}">{{ c.id }}</a></td>
                      <!-- <td><a href='Complaint.php'>{{ c['subject']}}</a></td> -->
                      <td><a href="/complaint/{{ c.id }}">{{ c.body }}</a></td>
                      <td>{{ c.type  }}</td>
                      <td>{{ c.creationdate }}</td>
                      <td>
                        {% if c.status == "resolved" %}
                        <span class="label label-success">Resolved</span>
                        {% elif c.status == "pending" %}
                        <span class="label label-warning">Pending</span>
                        {% elif c.status == "denied" %}
                        <span class="label label-danger">Denied</span>
                        {% endif %}
                      </td>
                      <td>
                        <form action="/action/{{ c.id }}" method="post">
                            <button  class="btn btn-primary">Action</button>
                        </form>
                      </td>
                    </tr>
                    {% endfor %}



                  </tbody></table>
                  <div class="text-center">
                  {% if complaints.has_prev %}
                    <a href="/complaints/{{ status }}/{{ complaints.prev_num }}">&lt; &lt; Newer Complaints </a>
                  {% else %}
                    &lt;&lt; Newer Complaints
                  {% endif %} |
                {% if complaints.has_next %}
                  <a href="/complaints/{{ status }}/{{ complaints.next_num }}">Older Complaints &gt;&gt;</a>
                {% else %}
                  Older Complaints &gt;&gt;
                {% endif %}
              </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>

        </div>



  </section>




</div><!-- /.content-wrapper -->
{% endblock %}
